################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SnakesAndLadders/.vs/SnakesAndLadders/v17
/.vs
/SnakesAndLadders/.vs/SnakesAndLadders/FileContentIndex
/SnakesAndLadders/SnakesAndLadders.Models/obj
/SnakesAndLadders/SnakesAndLadders.Models/bin/Debug/net6.0
/SnakesAndLadders/SnakesAndLadders.MoveLibrary.Contracts/obj
/SnakesAndLadders/SnakesAndLadders.MoveTokenTest/bin/Debug/net6.0
/SnakesAndLadders/SnakesAndLadders.MoveTokenTest/obj
/SnakesAndLadders/SnakesAndLadders.MoveLibrary.Contracts/bin/Debug/net6.0
/SnakesAndLadders/SnakesAndLadders.MoveLibrary.Impl/bin/Debug/net6.0
/SnakesAndLadders/SnakesAndLadders.MoveLibrary.Impl/obj
